.var-group {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.tab-btn-group {
    width: fit-content;
    padding: 3px;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;
    margin-bottom: 15px;
}

.d-flex {
    display: flex;
}

.gap-2 {
    gap: 0.5rem;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}